<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjy.pesticide.demo.mapping.DemoDao">

    <select id="getUsers">
        select t.username, t.password from s_users t;
    </select>

</mapper>